:root {
  --primary-color: #1d1d1d;
  --bg-primary: #2d2d2d;
}
 
* {
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #d5d7e5;
}

body::-webkit-scrollbar-thumb {
  background: #61676d;
}

.App {
  /* text-align: center; */
}

main {
  padding: 5rem;
  padding-top: 4rem;
  /* background-image: linear-gradient(315deg, #9FA4C4, #B3CDD1); */
  background-image: linear-gradient(315deg, #d5d7e5, #eee, #d5d7e5, #dddfee, rgb(245, 245, 245), #dadcec);
  /* background-image: linear-gradient(315deg, #dee0ef, rgb(245, 245, 245), #dadcec); */
  -webkit-animation: gradient 10s ease infinite;
  -moz-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
}

@-webkit-keyframes gradient {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}
@keyframes gradient {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}

.navbar {
  box-sizing: border-box;
  position: absolute;
  min-height: 4rem;
  width: 100%;
  /* background-color: yellow; */
}

.navbar-nav {
  text-align: center;
  list-style: none;
  padding: 0 10%; 
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-item {
  padding: 2rem 1rem;
  /* text-decoration: underline; */
  text-decoration-color: transparent;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item:last-child .link-text{
  font-weight: 800;
}

.nav-item:hover {
  /* font-weight: 800; */
  text-decoration-color: black;
  transition: 800ms ease;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* .nav-link svg {
  position: absolute;
  min-height: 2rem;
  margin: 0 1.5rem;
} */

.about {
  padding: 20%;
  text-align: center;
  border-bottom: 0.7px solid #2d2d2d;
}

.about h2, .skills h2, .experience h2 {
  text-align: center;
}

.about svg {
  font-size: 1.2rem;
  padding: 0 0.3rem;
}

.skills, .experience {
  padding: 10% 25%;
  border-bottom: 0.7px solid #2d2d2d;
}

.skills-inner h4 {
  flex: 1;
}
.skills-inner ul {
  text-align: left;
  flex: 1;
}

.skills-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  padding-bottom: 1rem;
  text-align: center;
}

.experience-inner {
  display: flex;
  justify-content: center;
  min-height: 4rem;
  padding: 1rem;
}

.experience-info {
  text-align: center;
  flex: 1;
  padding-top: 0.3rem;
}

.experience-description {
  margin-top: 0;
  flex: 1;
}

.skills-inner li, .experience-description li {
  padding: 0.2rem;
}

.skills-inner h4, .experience-info h4 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.experience-info p {
  margin: 0;
  padding: 0.2rem 0;
}

.description {
  font-weight: 600;
}

.date {
  /* font-style: italic; */
  font-size: 0.8rem;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color:rgb(94, 94, 94);
  cursor: pointer; 
}

.title-h2 {
  font-size: 2rem;
}

.about-inner {
  /* text-align: center; */
}